<template>
    <h1>ABout Page</h1>
</template>
<script>
export default {
    name : 'About',
    created () {
        this.title()
    },
    methods : {
        title : function (){
            document.title = "About Page"
        }
    }
}
</script>