<template>
    <Header/>
</template>
<script>
import Header from '../components/Header.vue'
export default {
    created () {
        this.title()
    },
    methods : {
        title : function (){
            document.title = "Home Page"
        }
    },
    components : {
        Header
    }
}
</script>