<template>
    <h1>404 not found url</h1>
</template>
<script>
export default {
    name : 'NotFound',
    created () {
        this.title()
    },
    methods : {
        title : function (){
            document.title = "404 not found url"
        }
    }
}
</script>